<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poipoi - ポイントを贈る</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/img/android-chrome-192x192.png" />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="/img/apple-touch-icon.png"
    />
    <link rel="icon" href="/img/favicon.ico" />
  </head>
  <body>
    <!-- ヘッダーのインクルード -->
    <%- include('header') %>

    <main>
      <div class="send-container">
        <h1 class="send-title">ポイントを贈る</h1>
        <form action="/send" method="POST" class="send-form">
          <div class="form-group">
            <label for="point-name">ポイント名</label>
            <input
              type="text"
              id="point-name"
              name="point-name"
              required
              placeholder="ポイント名を入力"
            />
          </div>
          <div class="form-group">
            <label for="amount">贈るポイント数</label>
            <input
              type="number"
              id="amount"
              name="amount"
              required
              min="1"
              placeholder="贈るポイント数を入力"
            />
          </div>
          <button type="submit" class="cta-button">贈るURLを発行する</button>

          <div class="url-container">
            <label for="generated-url">発行されたURL</label>
            <div class="url-group">
              <input
                type="text"
                id="generated-url"
                value="https://example.com/generated-url"
                readonly
              />
              <!-- <button id="copy-button" class="copy-button">コピー</button> -->
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
